{% extends 'base.html' %}
{% block title %}Contact{% endblock title %}
{% block body %}
<div class="container-fluid px-0">
    <img src="https://source.unsplash.com/1600x400/?phone,contact" class="img-fluid" alt="...">
</div>
<div class="container">
    <h1 class="text-center">Contact Us</h1>
    <form method="POST" action="/contact">
        {% csrf_token %}
        <div class="form-group">
          <label for="name">Username</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="John Doe">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="+977-9845798672">
        </div>
        <div class="form-group">
          <label for="message">Example textarea</label>
          <textarea class="form-control" id="message" name="message" rows="3"></textarea>
        </div>
        <input class="btn btn-primary my-2" type="submit" value="submit">
      </form>
</div>
{% endblock body %}

